# будет игнорроваться катарог tmp
tmp/
# будут игнорироваться все файлы и папки Trumbs.db и .DS_Store
Trumbs.db
.DS_Store
# будут игнорироваться файлы, заканчивающиеся суффиксами _old и _backup
*_old
*_backup